<%= stylesheet_link_tag 'nav' %>

<div class="nav-wrapper">
    <nav class="nav">
        <div class="left-nav">
            <img src="https://pbs.twimg.com/media/Fx8s0ZvaQAI1f33?format=png&name=small" class="logo"/>
        </div>
        <div class="right-nav">
            <h4><%= current_user.name %></h4>
            <div>
                <%= button_to 'Sign out', destroy_user_session_path, method: :delete%>
            </div>
        </div>
    </nav>
</div>