.add-box {
  display: flex;
  justify-content: end;
}

.add-button {
  border: 1px solid gray;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 0.5% 1.2%;
  text-decoration: none;
  color: black;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.food-table {
  border-collapse: collapse;
}

.food-table th,
.food-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #d4d4d4;
  font-size: 2rem;
}

.food-table th {
  background-color: #f2f2f2;
}
